.container {
  max-width: 800px;
  margin: auto;
}

.carousel-container {
  overflow: hidden;
}

.carouselImages {
  display: flex;
  flex-direction: column;
  transition: transform 0.2s;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  overflow: hidden;
}

.carousel__photo {
  width: 100%;
  object-fit: cover;
  transition: transform 0.2s;
}

.row {
  display: flex;
}

.col1 {
  flex-basis: 75%;
}
