html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
}

.container {
  max-width: 800px;
  margin: auto;
  position: relative;
}

.carousel__photo {
  width: 100%;
  display: none;
}

.active {
  display: block;
}

.button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.button:hover {
  cursor: pointer;
}

.button__next {
  right: 0;
}
